<form class="form-signin" method="POST" action="#" role="form" #authForm="ngForm">
  <div class="form-group">
    <h2>Create account</h2>
  </div>
  <div *ngIf="errorMessage!=null" class="auth-error">
    <i class="fas fa-exclamation-triangle"></i>
    <p>{{ errorMessage }}</p>
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="userName">User name</label>
      <mat-form-field>
        <input matInput required
        id="userName"
        type="text"
        name="userName"
        maxlength="50"
        class="form-control"
        placeholder="User Name"
        #userName="ngModel"
        [(ngModel)]="registrationUser.preferred_username"
        [ngModelOptions]="{updateOn: 'blur'}">
        <mat-hint *ngIf="userName.invalid && userName.touched" class="input-alert" align="end">Username is required</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label class="control-label" for="signupEmail">Email</label>
      <mat-form-field>
        <input matInput required email
        id="signupEmail"
        type="email"
        maxlength="50"
        class="form-control"
        placeholder="Email"
        #email="ngModel"
        [(ngModel)]="registrationUser.email"
        name="userEmail"
        [ngModelOptions]="{updateOn: 'blur'}">
        <mat-hint align="end" *ngIf="email.errors?.required && email.touched" class="input-alert">Email is required</mat-hint>
        <mat-hint align="end" *ngIf="email.errors?.email && email.touched" class="input-alert">Email is invalid</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label class="control-label" for="signupPassword">Password</label>
      <mat-form-field>
        <input matInput required
          id="signupPassword"
          type="password"
          name="userPassword"
          minlength="8"
          maxlength="25"
          class="form-control"
          placeholder="Password"
          length="40"
          #pwd="ngModel"
          [(ngModel)]="registrationUser.password"
          [ngModelOptions]="{updateOn: 'blur'}">
          <mat-hint *ngIf="pwd.errors?.required && pwd.touched" class="input-alert" align="end">Password is required</mat-hint>
          <mat-hint *ngIf="pwd.errors?.minlength && pwd.touched" class="input-alert" align="end">Password is not long enough</mat-hint>
          <mat-hint *ngIf="!pwd.touched" align="end">At least 8 characters</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="form-group">
    <button mat-raised-button
      color="primary"
      (click)="onRegister()"
      id="signupSubmit"
      [disabled]="!authForm.form.valid"
      type="submit">Create your account</button>
  </div>

  <p class="other-auth-options">Already have an account? <a [routerLink]="'/auth/login'">Login</a></p>
</form>
