<div *ngIf="game && !updateMode; else updateGame">
  <h1>{{game.game.name}}</h1>

  <div class="result-table">
    <div>
      <p>{{game.creator.id.preferred_username}}</p>
      <p>{{game.creator.score}}</p>
    </div>
    <div *ngFor="let partner of game.partners">
      <p>{{partner.id.preferred_username}}</p>
      <p>{{partner.score}}</p>
    </div>
  </div>

  <div class="form-group">
    <button mat-raised-button
      color="primary"
      (click)="toggleUpdateMode()">Update Scores</button>
  </div>
</div>

<ng-template #updateGame>
  <div *ngIf="game">
    <form class="game-update" method="POST" action="#" role="form" #updateGameForm="ngForm">
      <div class="form-group">
        <h2>Update game scores</h2>
      </div>

      <div class="update-game-form-inputs">
        <div class="form-group">
          <label class="control-label" for="creatorScore">{{game.creator.id.preferred_username}}</label>
          <mat-form-field>
              <input matInput required #creatorScore
                id="creatorScore"
                type="number"
                name="creatorScore"
                maxlength="6"
                class="form-control"
                (blur)="updateCreatorScore(creatorScore.value)"
                value="{{game.creator.score}}">
            </mat-form-field>
        </div>

        <div *ngFor="let partner of game.partners; let i = index">
          <div class="form-group">
            <label class="control-label" for="partnerScore">{{partner.id.preferred_username}}</label>
            <mat-form-field>
            <input matInput required
              id="partnerScore"
              type="number"
              name="partnerScore"
              maxlength="6"
              class="form-control"
              length="40"
              value="{{partner.score}}"
              #partnerScore
              (blur)="updatePartnerScore(partnerScore.value, i)">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button mat-raised-button
          color="secondary"
          (click)="toggleUpdateMode()"
          id="signupSubmit"
          [disabled]="!updateGameForm.form.valid"
          type="submit">Cancel</button>
        <button mat-raised-button
          color="primary"
          (click)="updateScores()"
          id="signupSubmit"
          [disabled]="!updateGameForm.form.valid"
          type="submit">Update scores</button>
      </div>
    </form>
  </div>
</ng-template>
