h1 {
  text-transform: capitalize;
}

.result-table {
  display: flex;
  margin-bottom: 20px;
  text-align: center;

  > div {
    padding: 5px 10px;
    border: 1px solid #666;
    border-right: none;

    &:last-child {
      border-right: 1px solid #666;
    }
  }

  p:first-child {
    font-weight: bold;
  }
}

.mat-form-field {
  margin: 20px;
}

button {
  margin-left: 20px;
}
