<form class="form-signin" method="POST" action="#" role="form" #authForm="ngForm">
  <div class="form-group">
    <h2>Login</h2>
  </div>

  <div *ngIf="errorMessage!=null" class="auth-error">
    {{ errorMessage }}
  </div>

  <div *ngIf="userUnconfirmed === true">
    <p>Your account is not confirmed yet, <a (click)="resendConfirmation()">click here to receive a new confirmation email.</a></p>
  </div>

  <div [ngSwitch]="trigger">
    <p *ngSwitchCase="'unauthorized-access'">You tried to access a protected page, please login or create an account to access the proscorepad features!</p>
    <p *ngSwitchCase="'logged-out'">You are logged out from the platform, please log back to access your profile.</p>
  </div>

  <div class="auth-form-inputs">
    <div *ngIf="!mfaStep">
      <div class="form-group">
        <label class="control-label" for="signupEmail">Username</label>
        <mat-form-field>
          <input matInput required
            id="signupEmail"
            type="email"
            name="email"
            maxlength="100"
            class="form-control"
            placeholder="Username"
            #email="ngModel"
            [(ngModel)]="emailText"
            [ngModelOptions]="{updateOn: 'blur'}">
          <mat-hint align="end" *ngIf="email.errors?.required && email.touched" class="input-alert">Email is required</mat-hint>
          <mat-hint align="end" *ngIf="email.errors?.email && email.touched" class="input-alert">Email is invalid</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label class="control-label" for="signupPassword">Password</label>
        <mat-form-field>
          <input matInput required
            id="signupPassword"
            type="password"
            name="password"
            maxlength="25"
            class="form-control"
            length="40"
            placeholder="Password"
            #pwd="ngModel"
            [(ngModel)]="password"
            [ngModelOptions]="{updateOn: 'blur'}">
          <mat-hint *ngIf="pwd.errors?.required && pwd.touched" class="input-alert" align="end">Password is required</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button mat-raised-button
          color="primary"
          (click)="onLogin()"
          id="signupSubmit"
          type="submit">Login</button>
      </div>
    </div>
  </div>

  <p class="other-auth-options">
    Already have an account? <a [routerLink]="['/auth/register']">Register</a><br>
    Forgot your password? <a [routerLink]="['/auth/forgot-password-1']">Reset it</a><br>
    Account not confirmed? <a [routerLink]="['/auth/resend-confirmation']">Resend Confirmation Email</a>
  </p>
</form>

