ul {
  padding: 30px 0 0;

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  i, 
  a {
    color: #fff;
  }

  a {
    margin-left: 10px;
    text-decoration: none;
  }
}

