<ul>
  <li>
      <i class="fas fa-user"></i>
      <a [routerLink]="['/user-profile']">User profile</a>
  </li>
  <li>
      <i class="fas fa-plus-circle"></i>
      <a [routerLink]="['/create-user-game']">Create a Game</a>
  </li>
  <li>
    <i class="fas fa-dice"></i>
    <a [routerLink]="['/user-games']">Your Games</a>
  </li>
  <li>
    <i class="fas fa-ruler-combined"></i>
    <a [routerLink]="['/games-list']">Games list</a>
  </li>
</ul>
