<div *ngIf="!editMode; else editInfos">
  <h1>Your information</h1>

  <p><span>Username:</span> {{user.preferred_username}}</p>
  <p><span>Email:</span> {{user.email}}</p>

  <button mat-raised-button (click)="toggleEditMode()">Edit</button>
</div>

<ng-template #editInfos>
  <form *ngIf="user" class="form-signin" method="POST" action="#" role="form" #editUserInfosForm="ngForm">
    <div class="form-group">
      <h1>Update your information</h1>
    </div>

    <div *ngIf="errorMessage!=null" class="auth-error">
      {{ errorMessage }}
    </div>

    <div>
      <div class="form-group">
        <label class="control-label" for="username">Username</label>
        <mat-form-field>
          <input matInput required
          id="username"
          type="string"
          name="username"
          maxlength="25"
          class="form-control"
          length="40"
          #usernameValue="ngModel"
          [(ngModel)]="user.preferred_username"
          [ngModelOptions]="{updateOn: 'blur'}">
          <mat-hint *ngIf="usernameValue.errors?.required && usernameValue.touched" class="input-alert" align="end">User name needs to be defined</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label class="control-label" for="userEmail">Email</label>
        <mat-form-field>
          <input matInput required email
          id="userEmail"
          type="email"
          name="email"
          maxlength="100"
          class="form-control"
          #email="ngModel"
          [(ngModel)]="user.email"
          [ngModelOptions]="{updateOn: 'blur'}">
          <mat-hint align="end" *ngIf="email.errors?.required && email.touched" class="input-alert">Email is required</mat-hint>
          <mat-hint align="end" *ngIf="email.errors?.email && email.touched" class="input-alert">Email is invalid</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button mat-raised-button
          (click)="toggleEditMode()">Cancel</button>
        <button mat-raised-button
        color="primary"
        (click)="updateInfos()"
        id="updateSubmit"
        [disabled]="!editUserInfosForm.form.valid"
        type="submit">Update</button>
      </div>
    </div>
  </form>
</ng-template>
