:host {
  width: 70%;
  margin: 0 auto;
  display: block;
}

button {
  display: block;
  margin: 50px auto 0;
  text-transform: uppercase;
}

p {
  font-style: italic;

  span {
    font-style: normal;
    font-weight: bold;
    margin-right: 15px;
  }
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.form-signin {
  color: #555;

  label{
    display: initial;
    margin-right: 1.5em;
    color: #333;
  }

  .mat-form-field-infix {
    border-top: none;
  }
}