<form class="form-signin" method="POST" action="#" role="form" #authForm="ngForm">
  <div class="form-group">
    <h2>Resend Confirmation Email</h2>
  </div>

  <div *ngIf="errorMessage!=null" class="auth-error">
    {{ errorMessage }}
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="signupEmail">Email</label>
      <mat-form-field>
        <input matInput required email
          id="signupEmail"
          type="email"
          name="userEmail"
          maxlength="50"
          class="form-control"
          placeholder="Email"
          #email="ngModel"
          [(ngModel)]="emailText"
          [ngModelOptions]="{updateOn: 'blur'}">
        <mat-hint align="end" *ngIf="email.errors?.required && email.touched" class="input-alert">Email is required</mat-hint>
        <mat-hint align="end" *ngIf="email.errors?.email && email.touched" class="input-alert">Email is invalid</mat-hint>
      </mat-form-field>
    </div>
  </div>


  <div class="form-group">
    <button mat-raised-button
      color="primary"
      (click)="resendCode()"
      id="signupSubmit"
      [disabled]="!authForm.form.valid"
      type="submit">Resend Code</button>
  </div>

  <p class="other-auth-options">
    Don't have an account? <a [routerLink]="'/auth/register'">Register</a><br>
    Already confirmed your account? <a [routerLink]="'/auth/login'">Login</a>
  </p>
</form>
