:host {
  color: #fff;
}

.fa-user-circle,
.fa-sign-out-alt {
  color: rgba(255, 255, 255, 0.8);
}

.fa-user-circle {
  font-size: 64px;
}

.fa-sign-out-alt {
  cursor: pointer;
}

.subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}