<div *ngIf="connectedUser; else login" class="nav-border">
  <i class="fas fa-user-circle"></i>
  <div class="subheading">
    <p>Hi {{user.preferred_username}}!</p>
    <i class="fas fa-sign-out-alt" (click)="logout()"></i>
  </div>
</div>

<ng-template #login>
  <div class="nav-border">
    <p [routerLink]="['/auth/login']">Login</p>
  </div>
</ng-template>
