@import '../../../../assets/styles/breakpoints';
@import '../../../../assets/styles/colors.scss';

.game-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

mat-card {
  width: 92%;
  margin: 20px 2% 0;

  @media only screen and (min-width: $tablet-breakpoint) {
    width: 45%;
    margin: 10px 0.5%;
    padding: 20px 2%;
  }
}

mat-card-footer {
  margin: auto 0;

  span {
    padding: 2px 5px;
    margin-left: 3px;
    background-color: $basic-shade-color;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.game-name {
  text-transform: capitalize;
}
