<div>
  <div>
    <div [ngPlural]="totalGames">
      <ng-template ngPluralCase="=1"><h2>You are participating in 1 game</h2></ng-template>
      <ng-template ngPluralCase="=other"><h2>You are participating in {{userGames.length}} games</h2></ng-template>
    </div>

    <div class="game-list">
      <mat-card *ngFor="let game of pagedItems" (click)="openGamePage(game._id)">
        <mat-card-title>{{game.game.name}}</mat-card-title>
        <mat-card-subtitle>{{game.creator.id.preferred_username}} - {{game.creator.score}}</mat-card-subtitle>
        <mat-card-footer>
          <span *ngFor="let partner of game.partners">{{partner.id.preferred_username}}</span>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

<!-- pager -->
<app-pagination [pager]="pager" (setPage)="setPage($event)"></app-pagination>
