<h1>Find any game you want!</h1>

<section class="search-game">
  <form class="form-create-single-game" method="POST" action="#" role="form" #createSingleGameForm="ngForm">
    <div class="auth-form-inputs">
      <div class="form-group">
        <label class="control-label" for="gameName">Search through our game database</label>
        <mat-form-field>
          <input matInput required
            id="gameName"
            type="text"
            name="gameName"
            maxlength="50"
            class="form-control"
            placeholder="Type the name of the game you're looking for"
            #game="ngModel"
            [(ngModel)]="gameName"
            (keydown)="getGames()">
        </mat-form-field>
      </div>
    </div>
  </form>
</section>

<section *ngIf="pagedItems && pagedItems.length > 0; else noResult">
  <div class="game-list">
    <mat-card *ngFor="let game of pagedItems" (click)="openGamePage(game.name)">
      <mat-card-title>{{game.name}}</mat-card-title>
      <mat-card-subtitle>{{game.origin}}</mat-card-subtitle>
    </mat-card>
  </div>

  <app-pagination [pager]="pager" (setPage)="setPage($event)"></app-pagination>
</section>

<ng-template #noResult>
  <h3 *ngIf="userSearched">Sorry, your research had no result! Try something else or add the game yourself.</h3>
</ng-template>


<div *ngIf="connectedUser; else connect" class="create-game">
  <a [routerLink]="['/create-game-template']">You're not finding your game? As a registered user, you have the right to create a new game type!</a>
</div>

<ng-template #connect>
  <a [routerLink]="['/auth/login']">You're not finding the game you want? Create or log to your account to create it.</a>
</ng-template>

