@import '../../../../assets/styles/breakpoints';

h1,
h3,
a {
  text-align: center;
  display: block;
}

a {
  margin-top: 30px;
}

.game-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-transform: capitalize;
}

mat-card {
  width: 92%;
  margin: 20px 2% 0;

  @media only screen and (min-width: $tablet-breakpoint) {
    width: 45%;
    margin: 10px 0.5%;
    padding: 20px 2%;
  }
}

.create-game {
  margin-top: 30px;
  text-align: center;
}

label {
  display: none;
}
