// Angular material theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/styles/breakpoints';
@import './assets/styles/colors';

body {
  font-family: 'Roboto', sans-serif;
}

.mobile {
  display: auto;

  @media only screen and (min-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.tablet {
  display: auto;

  @media only screen and (min-width: $tablet-breakpoint) {
    display: none !important;
  }
}

.laptop {
  display: none;

  @media only screen and (max-width: $tablet-breakpoint) {
    display: auto !important;
  }
}

// Generic
.hidden {
  display: none;
}

// Auth form
.form-signin {
  h2 {
    margin: 10px 0 22px;
    text-align: center;
  }

  button {
    margin: 30px auto 20px;
    display: block;
    text-transform: uppercase;
  }

  label {
    display: none;
  }
}
.auth-form-inputs {
  width: 80%;
  margin: 20px auto 0;

  > * {
    width: 100%;
  }

  .mat-form-field {
    display: block;
  }
}

.auth-error {
  display: flex;
  justify-content: center;

  p {
    align-self: center;
  }

  p {
    order: 2;
    margin-left: 2%;
  }
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

.input-alert {
  color: #f44336 !important;
}

.other-auth-options {
  text-align: center;
  font-size: 12px;

  a {
    font-weight: bold;
  }
}

.fallback-login {
  font-size: 16px;
  text-align: center;
}

// Navigation
.nav-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
