.form-group {
  h2 {
    text-align: center;
  }

  button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

ul.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  width: 80%;
  padding: 0;
  margin: 0 auto;

  li {
    display: flex;
    border: 0.5px solid #777;
    box-shadow: 2px 1px 1px #999;
    border-radius: 3px;
    list-style-type: none;
    margin-right: 20px;
    font-size: 14px;
  }

  p {
    margin: 5px 10px;
  }

  p, i {
    margin-right: 10px;
    align-self: center;
  }
}

#gameName {
  text-transform: capitalize;
}
