<form class="form-create-single-game" method="POST" action="#" role="form" #createSingleGameForm="ngForm">
  <div class="form-group">
    <h2>Create a new game</h2>
  </div>
  <div *ngIf="errorMessage!=null" class="auth-error">
      <i class="fas fa-exclamation-triangle"></i>
      <p>{{ errorMessage }}</p>
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="gameName">Type of game</label>
      <mat-form-field>
        <input matInput required
          id="gameName"
          type="text"
          name="gameName"
          maxlength="50"
          class="form-control"
          placeholder="Choose your game"
          #game="ngModel"
          [(ngModel)]="gameName"
          (ngModelChange)="getGames()"
          [matAutocomplete]="autoGames">
        <mat-autocomplete autoActiveFirstOption
          #autoGames="matAutocomplete"
          [displayWith]="nameDisplay"
          (optionSelected)="defineSelectedGame($event.option.value)">
          <mat-option *ngFor="let option of gamesSuggestions" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="game.invalid && game.touched" class="input-alert" align="end">You need to choose a game type</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="player">Add players</label>
      <mat-form-field>
        <input matInput
          id="player"
          type="text"
          name="player"
          maxlength="50"
          class="form-control"
          placeholder="Add players"
          [(ngModel)]="playerName"
          (ngModelChange)="getUsers()"
          [matAutocomplete]="autoUsers"
          #userInput>
        <mat-autocomplete autoActiveFirstOption
          #autoUsers="matAutocomplete"
          [displayWith]="nameDisplay"
          (optionSelected)="addPartner($event.option.value)"
          >
          <mat-option *ngFor="let option of playersSuggestions" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <ul *ngIf="partners" class="partners">
    <li *ngFor="let partner of partners">
      <p>{{partner.name}}</p>
      <i class="fas fa-minus-circle" (click)="removePartner(partner.name)"></i>
    </li>
  </ul>


  <div class="form-group">
    <button mat-raised-button
      color="primary"
      (click)="createGame()"
      id="newGameSubmit"
      type="submit">Create Game</button>
  </div>
</form>
