<form class="form-signin" method="POST" action="#" role="form" #authForm="ngForm">
  <div class="form-group">
    <h2>Set new password</h2>
  </div>

  <div *ngIf="errorMessage!=null" class="auth-error">
    {{ errorMessage }}
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="existingPassword">Temporary Password</label>
      <mat-form-field>
        <input required
          id="existingPassword"
          type="password"
          name="existingPassword"
          maxlength="25"
          class="form-control"
          placeholder="at least 8 characters"
          length="40"
          #existingPwd="ngModel"
          [(ngModel)]="registrationUser.existingPassword"
          [ngModelOptions]="{updateOn: 'blur'}">
        <mat-hint *ngIf="existingPwd.invalid && existingPwd.touched" class="input-alert" align="end">Current password is required</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label class="control-label" for="signupPassword">New Password</label>
      <mat-form-field>
      <input
        id="signupPassword"
        type="password"
        name="password"
        maxlength="25"
        class="form-control"
        placeholder="at least 8 characters"
        length="40"
        #newPwd="ngModel"
        [(ngModel)]="registrationUser.password"
        [ngModelOptions]="{updateOn: 'blur'}">
        <mat-hint *ngIf="newPwd.invalid && newPwd.touched" class="input-alert" align="end">New password is required</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="form-group">
    <button mat-button-raised
      color="primary"
      (click)="onRegister()"
      id="signupSubmit"
      [disabled]="!authForm.form.valid"
      type="submit">Set your password</button>
  </div>

  <p class="other-auth-options">Already have an account? <a [routerLink]="'/auth/login'">Login</a></p>
</form>
