@import '../../../assets/styles/colors';

// Pagination
.pagination {
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;
    margin-left: 5px;
    display: flex;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    border: 0.5px solid #777;
    cursor: pointer;

    &:nth-child(1) {
      margin-left: 0;
    }

    &.disabled {
      cursor: auto;
    }

    &.active {
      background-color: $basic-shader-color;
      color: #fff;
      font-weight: bold;
    }
  }
}