<ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}" (click)="pagination(1)">
    <a><<</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}" (click)="pagination(pager.currentPage - 1)">
    <a ><</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="pagination(page)">
    <a>{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="pagination(pager.currentPage + 1)">
    <a>></a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="pagination(pager.totalPages)">
    <a>>></a>
  </li>
</ul>
