<form class="form-create-game-template" method="POST" action="#" role="form" #createTemplateGameForm="ngForm">
  <div class="form-group">
    <h1>Create a new game</h1>
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="gameName">Game name</label>
      <mat-form-field>
        <input matInput required
          id="gameName"
          name="name"
          type="text"
          maxlength="50"
          class="form-control"
          placeholder="Game name"
          #game="ngModel"
          [(ngModel)]="gameTemplate.name">
        <mat-hint *ngIf="game.invalid && game.touched" class="input-alert" align="end">You need to choose a game type</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="description">Description</label>
      <mat-form-field>
        <textarea matInput required
          id="description"
          name="description"
          maxlength="50"
          class="form-control"
          placeholder="Description"
          [(ngModel)]="gameTemplate.description"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="rules">Rules</label>
      <mat-form-field>
        <textarea matInput required
          id="rules"
          name="rules"
          maxlength="50"
          class="form-control"
          placeholder="Rules"
          #gameRules="ngModel"
          [(ngModel)]="gameTemplate.rules"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="origins">Origins</label>
      <mat-form-field>
        <input matInput
          id="origins"
          type="text"
          name="origins"
          maxlength="50"
          class="form-control"
          placeholder="Origins"
          #gameOrigins="ngModel"
          [(ngModel)]="gameTemplate.origin">
      </mat-form-field>
    </div>
  </div>


  <div class="form-group">
    <button mat-raised-button
      color="primary"
      (click)="createGame()"
      id="newGameSubmit"
      type="submit">Create Game</button>
  </div>
</form>

