<form class="form-signin" method="POST" action="#" role="form" #authForm="ngForm">
  <div class="form-group">
      <h2>Forgot Password</h2>
  </div>

  <div *ngIf="errorMessage!=null" class="auth-error">
      {{ errorMessage }}
  </div>

  <div class="auth-form-inputs">
    <div class="form-group">
      <label class="control-label" for="verificationCode">Verification Code</label>
      <mat-form-field>
        <input matInput required
          id="verificationCode"
          type="verificationCode"
          name="verificationCode"
          maxlength="50"
          class="form-control"
          #verificationCode="ngModel"
          [(ngModel)]="verificationCodeText"
          [ngModelOptions]="{updateOn: 'blur'}">
          <mat-hint *ngIf="verificationCode.invalid && verificationCode.touched" class="input-alert" align="end">The verification code is required</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label class="control-label" for="newPassword">New Password</label>
      <mat-form-field>
        <input matInput required
        id="signupPassword"
        type="password"
        name="userPassword"
        minlength="8"
        maxlength="25"
        class="form-control"
        placeholder="Password"
        length="40"
        #pwd="ngModel"
        [(ngModel)]="password"
        [ngModelOptions]="{updateOn: 'blur'}">
        <mat-hint *ngIf="pwd.errors?.required && pwd.touched" class="input-alert" align="end">Password is required</mat-hint>
        <mat-hint *ngIf="pwd.errors?.minlength && pwd.touched" class="input-alert" align="end">Password is not long enough</mat-hint>
        <mat-hint *ngIf="!pwd.touched" align="end">At least 8 characters</mat-hint>      </mat-form-field>
    </div>

    <div class="form-group">
        <button mat-raised-button
          color="primary"
          (click)="onNext()"
          id="signupSubmit"
          [disabled]="!authForm.form.valid"
          type="submit">Reset Password</button>
    </div>
  </div>

  <p class="other-auth-options">Didn't receive any email? <a [routerLink]="['/auth/forgot-password-1']">Go back</a>
  </p>
</form>
