<section *ngIf="game; else unexistingGame">
  <h1>{{game.name}}</h1>
  <div>
    <p>Description: </p>
    <p>{{game.description}}</p>
  </div>
  <div>
    <p>Rules: </p>
    <p>{{game.rules}}</p>
  </div>
  <div>
    <p>Origin: </p>
    <p>{{game.origin}}</p>    
  </div>
</section>

<ng-template #unexistingGame>
  <p>The game you're looking for cannot be found in our databases.</p>
</ng-template>
