<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="mobile-menu">
      <i class="fas fa-bars tablet" (click)="openMenu()"></i>
      <h1>Pro Scorepad</h1>
    </div>

    <div class="main">
      <app-main-content></app-main-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
