@import "../../../assets/styles/colors.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  padding: 20px 30px;
  background-color: $basic-color;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

#mobile-menu {
  display: flex;
  align-items: center;
  background: $basic-color;

  .fa-bars {
    order: 1;
    margin-left: 15px;
    color: $white;
    font-size: 32px;
    height: 35px;
  }

  h1 {
    order: 2;
    flex-grow: 1;
    text-align: center;
    margin: 10px 0;
    color: $white;
  }
}

.main {
  width: 90%;
  margin: 0 5%;
}
